<div class="left" style="width: 20%; border-right: 1px solid #ccc;">
  <div>
    <label for="item">Item:</label>
    <select name="item" id="item" #item>
      <option value="t-shirt">T-Shirt</option>
      <option value="shirt">Shirt</option>
      <option value="jumper">Jumper</option>
      <option value="coat">coat</option>
    </select>
  </div>
  <div>
    <label for="size">Size:</label>
    <select name="size" id="size" #size>
      <option value="s">Small</option>
      <option value="m">Medium</option>
      <option value="l">Large</option>
    </select>
  </div>
  <button style="float:right;" (click)="addItem(item.value, size.value)">Add</button>
</div>
